
<div>
    <a class="all-items-register" asp-action="GetAllItems" >See Items And Manage Them , You can make an item as sold here Too</a>
</div>
<div>
    <a class="all-items-register" asp-action="ItemsSold" >Information about items sold. Here you can mark the item as delivered</a>
</div>

<div>
    <a class="all-items-register" asp-action="InformationSellerBuyer">Information about sellers and buyers. Only items that have been sold and delivered</a>
</div>


