
@{
    ViewData["Title"] = "Admin Panel";
}

<div>
    <a class="all-items-register" asp-controller="Category" asp-action="Index" >Categories Management</a>
</div>

<div>
    <a class="all-items-register"  asp-controller="ItemsManagement" asp-action="Index">Items Management</a>
</div>

<div>
    <a class="all-items-register"  asp-controller="Admin" asp-action="GetUsers" >Add New Admin</a>
</div>

<div>
    <a class="all-items-register" asp-controller="Admin" asp-action="GetAdmins">Delete admin</a>
</div>


